<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLTA_Estacionamiento.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <CLTA_Estacionamiento.My.MySettings>
            <setting name="db_servidor" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="db_username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value />
            </setting>
            <setting name="db_nameDB" serializeAs="String">
                <value>CltaEstacionamiento</value>
            </setting>
            <setting name="db_puerto" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="login_username" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopBackgroundImage" serializeAs="String">
                <value>C:\Users\ISC\Dropbox\Walpapers\8e0CP4E.jpg</value>
            </setting>
            <setting name="datagridview_color" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="datagridview_selectrow" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Menu_color" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="Menu_font" serializeAs="String">
                <value>Segoe UI, 13pt</value>
            </setting>
            <setting name="text_font" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
            <setting name="data_url" serializeAs="String">
                <value>C:\clta_estacionamiento_data</value>
            </setting>
            <setting name="moneda" serializeAs="String">
                <value>MXN</value>
            </setting>
            <setting name="form_windowstate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Height_Button" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="Width_Button" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Space_button" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ItemsXFilas" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="button_colorSelect" serializeAs="String">
                <value>ActiveBorder</value>
            </setting>
            <setting name="button_color" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="id_publicoGeneral" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="id_relevador" serializeAs="String">
                <value>3X9XI</value>
            </setting>
            <setting name="relevador_milisegundos" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="rele_entrada" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rele_salida" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="local_nombre" serializeAs="String">
                <value>EMPRESA INVALIDA</value>
            </setting>
            <setting name="local_direccion" serializeAs="String">
                <value>DIRECCION FICTICIA</value>
            </setting>
            <setting name="local_telefono" serializeAs="String">
                <value>0180000000</value>
            </setting>
            <setting name="local_rfc" serializeAs="String">
                <value>XXOXXXOA</value>
            </setting>
            <setting name="ticket_impresora" serializeAs="String">
                <value>PDFCreator</value>
            </setting>
            <setting name="ticket_mostrar_cliente" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ticke_mostar_venderor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ticket_mostrar_hote_impresion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ticket_mostrar_pie_depagina" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ticket_pie_de_pagina" serializeAs="String">
                <value>www.cyberchoapas.com</value>
            </setting>
            <setting name="ticket_font" serializeAs="String">
                <value>Lucida Console, 8.25pt</value>
            </setting>
            <setting name="ticket_imprimir_xhora" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vehicles_generics" serializeAs="String">
                <value>True</value>
            </setting>
        </CLTA_Estacionamiento.My.MySettings>
    </userSettings>
</configuration>